html{
    font-family: 'Courier New', Courier, monospace;
}
#top-menu{
    background-color: rgb(156, 155, 155);
    color: white;
    width: 100%;
    height: fit-content;
}
@media only screen and (max-width: 450px){
    #searchbar{
        background-image: url("../Images/icons8-search-client-24.png");
        background-repeat: no-repeat;
        background-position: right;
        height:30px;
        background-color: white;
        width: 100%;
        
    }
    .filters{
        width: 32%;
    }
}
@media (min-width:450px){
    #searchbar{
        background-image: url("../Images/icons8-search-client-24.png");
        background-position: right;
        background-repeat: no-repeat;
        height:30px;
        background-color: white;
        width: 30%;
        
    }
}
input{
    color:black; 
}
select{
    color: black;
}
.admin{
    color: white;
}
.adminControls{
    /* position: fixed; */
    float: right;
    background-color: rgb(156, 155, 155);
}
/* #dropDowns{
    position: fixed;
    right: 0;
    background-color: #333;
    z-index: 1;
} */
.dropDownOptions{
    position: fixed;
    right: 0;
    visibility: hidden;
    z-index: 1;
}
/* button:hover{
    background-color: green;
} */
.active{
    visibility: visible;
}
.inActive{
    display: none;
}

h1{
    text-align: center;
}
#searchIcon{
    position: fixed;
    color: black;
    height: auto;
    width: max-content;
}
footer{
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
}
.modal{
    text-align: center;
}
.modalForm{
    height: 10%;
    width: 25%;
}
#contacts{
    width: 100%;
    max-height: 90vh;
    /* margin:1vh; */
}
@media (max-width: 420px){
    .contact{
        width: 75%;
        margin-left:12.5%;
        margin-right:12.5%;
        height: 100%;
    }
    .card-img-top{
        height: 20%;
    }
}

@media only screen and (max-width: 640px) and (min-width: 425px){
    .contact{
        width: 50%;
        
        height: 100%;
    }
    .card-img-top{
        height: 20%;
    }
}

@media (min-width: 640px){
    .contact{
        width: 30%;
        max-width: 200px;
        
    }
    .card-img-top{
        height: 50%;
    }
    
}

.border-danger{
    border-width: 0.5vh;
}
ul{
    list-style-type: none;
}
#deleteMultiContacts{
    text-align:center;
    background-color: rgba(212, 212, 131, 0.719);
}
