html{
    font-family: 'Courier New', Courier, monospace;
}
#top-menu{
    background-color: #333;
    color: white;
    width: 100%;
    height: fit-content;
}
@media (max-width: 450px){
    #searchbar{
        background-image: url("../Images/icons8-search-client-24.png");
        background-repeat: no-repeat;
        height:30px;
        background-color: white;
        width: 100%;
    }
    .filters{
        width: 32%;
    }
}
@media (min-width:450px){
    #searchbar{
        background-image: url("../Images/icons8-search-client-24.png");
        background-repeat: no-repeat;
        height:30px;
        background-color: white;
        width: 30%;
    }
}
input{
    color:black; 
}
select{
    color: black;
}
.admin{
    color: white;
}
.adminControls{
    /* position: fixed; */
    float: right;
    background-color: #333;
}
/* #dropDowns{
    position: fixed;
    right: 0;
    background-color: #333;
    z-index: 1;
} */
.dropDownOptions{
    position: fixed;
    right: 0;
    visibility: hidden;
    z-index: 1;
}
/* button:hover{
    background-color: green;
} */
.active{
    visibility: visible;
}
.inActive{
    display: none;
}

h1{
    text-align: center;
}
#searchIcon{
    position: fixed;
    color: black;
    height: auto;
    width: max-content;
}
footer{
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
}
.modal{
    text-align: center;
}
.modalForm{
    height: 10%;
    width: 25%;
}
#contacts{
    width: 100%;
    max-height: 75vh;
    /* margin:1vh; */
}
@media (max-width: 525px){
    .contact{
        width: 50%;
        /* margin-right: 0.5vh; */
        /* background-color: indigo; */
    }
    .card-img-top{
        height: 50%;
    }
}
@media (min-width: 525px){
    .contact{
        width: 30%;
        /* margin-right: 0.5vh; */
        /* background-color: indigo; */
    }
    
}
.border-danger{
    border-width: 0.5vh;
}
ul{
    list-style-type: none;
}
#deleteMultiContacts{
    align-items: center;
}
